--extra-index-url https://download.pytorch.org/whl/cu128
fastapi==0.128.0
uvicorn==0.39.0
starlette==0.49.0
pydantic==2.12.5
python-multipart==0.0.20
asyncpg==0.31.0
psycopg2-binary==2.9.11
kafka-python==2.3.0
torch==2.8.0+cu128
torchvision==0.23.0+cu128
ultralytics==8.4.22
opencv-python==4.11.0.86
Pillow==10.4.0
numpy==1.26.4
pandas==2.3.3
gradio>=3.50.2
cvat-sdk==2.50.0
